    @media screen and (max-width:1080px) {
    }

  @media screen and (max-width: 1024px) {
    #Tukang_Redesign_Header_Container {
      position:fixed!important;
      background:#fff;
      padding-left:10px;
      padding-top:0;
    }
    #post-wrapper {
    padding-top:10px;
    }
  }

    @media screen and (max-width:640px) {
    .blog-posts .post-outer .post {
    margin-left:6px;
    }
    .blog-posts .post-outer {
    width:50%;
    }
    }
    
    @media only screen and (max-width:1024px) {
    
    }

    @media screen and (max-width:991px) {
      #post-wrapper {
        width:60%;
      }
      #sidebar-wrapper {
  		width:33%;
  		margin-right:0px;
  		}

    }
    .post-container {
    
    }
